/*
!.gitignore
!README.md
!/code
!/mFC_data
.DS_Store
*.ipynb_checkpoints
._.DS_Store

# Notebooks with large embedded outputs
code/LEC_sploratory_analysis_with_glm_and_population.ipynb
code/PFC_sploratory_analysis_with_glm_and_population.ipynb
code/mEC_task_correlations copy.ipynb

code/brainreg_probe
mFC_data/data
code/rave_output
code/LEC_glm_tuning_variables_backup.ipynb
code/LEC_glm_tuning_variables_dep.ipynb
code/rave_visualiser copy.py
code/rave_visualiser copy.ipynb
